---
import Footer from "~/components/footer.astro";
import Container from "~/components/container.astro";
import FarmImage from "../../components/farm-image.astro";
import { RSVPDB } from "~/schema";
import { getRSVP } from "~/supabase";

const url = new URL(Astro.request.url);

const id = url.pathname?.split("/")?.pop();

if (!id) {
  return Astro.redirect(`/`, 303);
}

const rsvp = (await getRSVP(id)).data as RSVPDB;

console.log("fetching rsvp", id);
if (!rsvp) {
  return Astro.redirect(`/`, 303);
}
---

<Container>
  <div class="flex-grow pb-24 sm:pb-32">
    <div class="container mx-auto px-4 py-6">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h1
          class="text-4xl text-center text-green-600 font-bold mb-4"
        >
          Thank You {rsvp.name} for Your RSVP!
        </h1>
        <p class="text-xl text-center mb-4">
          We have received your response and look forward to seeing you at the
          party!
        </p>
        <div class="my-4 mx-auto max-w-md md:max-w-lg lg:max-w-xl">
          <FarmImage />
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Container>
