---
import Footer from "~/components/footer.astro";
import Container from "~/components/container.astro";
import FarmImage from "~/components/farm-image.astro";
---

<Container>
  <div class="flex-grow pb-24 sm:pb-32">
    <div class="container mx-auto px-4 py-6">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="my-4 mx-auto max-w-md md:max-w-lg lg:max-w-xl">
          <FarmImage />
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Container>
