---
import Footer from "~/components/footer.astro";
import Container from "~/components/container.astro";
import AttendeesList from "../components/attendees-list.astro";
import FarmImage from "~/components/farm-image.astro";
import { birthday_date, brithday_address_casusal } from "~/data";
---

<Container>
  <div class="flex-grow pb-24 sm:pb-32">
    <div class="container mx-auto px-4 py-6">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-4xl text-center text-green-600 font-bold mb-4">
          Ayalah’s Barn Party Attendees
        </h1>
        <AttendeesList />
      </div>
    </div>
  </div>
  <Footer />
</Container>
