---
// import Prose from './prose.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayalah's 2nd Birthday Barn Party</title>
  </head>
  <body class="bg-blue-50 flex flex-col min-h-screen">
    <!-- <Prose> -->
      <slot />
    <!-- </Prose> -->
  </body>
</html>
