---
import { Image } from "astro:assets";
import farm_image from "~/assets/images/farm.jpg";
---

<!-- <div class="my-4 mx-auto max-w-md md:max-w-lg lg:max-w-xl">
  <Image
    src={farm_image}
    class="w-full h-auto"
    alt={"Farm"}
  />
</div> -->

<img
  class="my-4 mx-auto max-w-md md:max-w-lg lg:max-w-xl"
  src="/farm.jpg"
  width="1600"
  height="900"
  decoding="async"
  loading="lazy"
  alt="A description of my image."
/>
