---
import { Icon } from "astro-icon";
---
<footer
class="bg-gray-800 text-white text-center p-2 sm:p-4 w-full fixed bottom-0 z-20"
>
<p class="text-white text-lg mb-2 sm:mb-4">
  If you have any questions, feel free to reach out:
</p>
<div
  class="flex flex-row justify-center items-center space-x-4 sm:space-x-6 py-2 sm:py-3 px-4 rounded-md"
>
  <a
    href=`tel:${import.meta.env.MY_PHONE_NUMBER}`
    class="text-white hover:text-gray-300"
  >
    <Icon name={"tabler:messages"} class="w-5 h-5" />
  </a>
  <a
    href="https://t.me/amoselm"
    class="text-white hover:text-gray-300"
    target="_blank"
  >
    <Icon name={"tabler:brand-telegram"} class="w-5 h-5" />
  </a>
  <a
    href=`https://wa.me/${import.meta.env.MY_PHONE_NUMBER}`
    class="text-white hover:text-gray-300"
    target="_blank"
  >
    <Icon name={"tabler:brand-whatsapp"} class="w-5 h-5" />
  </a>
</div>
</footer>
